# Application specific variables

# e.g. http (dev or local env)/ https (production)
APP_SCHEME=
# e.g. localhost
APP_HOST=
# e.g. 3000
APP_PORT=
# Okta API variables

# If you are running the API locally, use this instead:
# PORTAL_API_URL=http://localhost:3001/
NEXT_PUBLIC_PORTAL_API_URL=https://s2n1x6u0ka.execute-api.us-east-1.amazonaws.com/prod/

# Okta admin -> Applications -> Choose your app -> Okta domain in "General Settings"
NEXT_PUBLIC_OKTA_DOMAIN=
# Okta admin -> Applications -> Choose your app -> Client ID
NEXT_PUBLIC_OKTA_CLIENT_ID=
# Okta admin -> Applications -> Choose your app -> Client Secret
OKTA_CLIENT_SECRET=
# Okta admin -> Security -> API -> Tokens tab -> Create new token, or use existing one
OKTA_API_KEY=
